<font size ="8" color = "red"><b>ch03. 데이터구조</b></font>
- 리스트 [] , 튜플 () , 딕셔너리{구조체와 유사} , 셋(집합)

# 1절 리스트

## 1.1 리스트 만들기
- [] 이용
- 인덱스 : 0부터 시작. -1은 맨 마지막 인덱스
- 슬라이싱 : [from:to:step] 을 이용하여 추출

In [2]:
fruits = ['banana','apple','orange','grape',0]
type(fruits)

list

In [3]:
print(fruits)

['banana', 'apple', 'orange', 'grape', 0]

In [6]:
print(fruits[0])

banana

In [7]:
for fruit in fruits :
    print(fruit)

banana
apple
orange
grape
0

In [10]:
range(5)

range(0, 5)

In [13]:
list(range(len(fruits))) # list fruits 요소의 갯수

[0, 1, 2, 3, 4]

In [14]:
for i in [0,1,2,3,4]:
    print("{}번째 과일은 {}".format(i,fruits[i]))

0번째 과일은 banana
1번째 과일은 apple
2번째 과일은 orange
3번째 과일은 grape
4번째 과일은 0

In [17]:
for i in range(len(fruits)) :
    print("{}번째 과일은 {}".format(i,fruits[i]))

0번째 과일은 banana
1번째 과일은 apple
2번째 과일은 orange
3번째 과일은 grape
4번째 과일은 0

In [18]:
#ppt 19page 참조
for idx,value in enumerate(fruits):
    print("{}번재 과일은 {}".format(idx,value))

0번재 과일은 banana
1번재 과일은 apple
2번재 과일은 orange
3번재 과일은 grape
4번재 과일은 0

## 1.2 기본정보 조회

In [21]:
numbers = [1,2,3,4,5]
print("요소의 수 : {}".format(len(numbers)))
print("최소값 : ",min(numbers))
print("최대값 : ",max(numbers))

요소의 수 : 5
최소값 :  1
최대값 :  5

## 1.3 요소 추가

In [22]:
# C
#int arr[3]; => 배열 크기 3 은 불변

```
Python

+ 두 리스트를 연결
리스트*n : 리스트를 n만큼 반복
append() : 요소 뒤에 추가
extend() : 리스트의 요소별로 뒤에 추가

```

In [26]:
numbers = [1,2,3]
numbers = numbers + numbers
numbers

[1, 2, 3, 1, 2, 3]

In [27]:
numbers = [1,2,3]
print(numbers * 3)

[1, 2, 3, 1, 2, 3, 1, 2, 3]

In [31]:
numbers = [1,2,3]
numbers.append(4)
numbers

[1, 2, 3, 4]

In [35]:
numbers = [1,2,3,4]
num = [5,6]
#numbers를 [1,2,3,4,5,6] vs [1,2,3,4,[5,6]]
numbers.append(num)
numbers

[1, 2, 3, 4, [5, 6]]

In [34]:
numbers = [1,2,3,4]
num = [5,6]
numbers.extend(num)
numbers

[1, 2, 3, 4, 5, 6]

In [36]:
numbers = [1,2,3,4]
numbers.append("hello")
numbers

[1, 2, 3, 4, 'hello']

In [37]:
numbers = [1,2,3,4]
numbers.extend("hello")
numbers

[1, 2, 3, 4, 'h', 'e', 'l', 'l', 'o']

## 1.4 인덱싱 
- index(찾고자하는 값,1) : 찾고자하는 값이 1번인덱스부터 찾아 그 위치를 반환
- count(찾고자하는 값) : 찾고자하는 값이 몇번나오는지 counter

In [41]:
numbers = [1,2,3,[1,2,3],1,2,3]
print("2가 몇개인지 : {}".format(numbers.count(2)))
print("4가 몇개인지 : {}".format(numbers.count(4)))

2가 몇개인지 : 2
4가 몇개인지 : 0

In [43]:
numbers.index(2,3) #3번째 index부터 2가 처음나오는 인덱스를 반환

5

In [42]:
2 in numbers

True

## 1.5 리스트의 원하는 내용만 추출
- 슬라이싱 [from:to:step]
- 리스트 컴프리헨션을 이용

In [44]:
numbers = [1,3,5,9,10,12,13,18,19,20]
numbers[::-1]

[20, 19, 18, 13, 12, 10, 9, 5, 3, 1]

In [45]:
numbers[::2] #인덱스가 짝수인 값을 추추로

[1, 5, 10, 13, 19]

In [46]:
#값이 짝수인 데이터만 추출
result = []
for num in numbers :
    if (num%2 == 0) :
        result.append(num)
result

[10, 12, 18, 20]

In [49]:
result = [num for num in numbers if num%2 ==0] #리스트 컴프리헨션
result

[10, 12, 18, 20]

In [53]:
# numbers 리스트의 제곱값을 리스트로 생성하여라(컴프리헨션이용)
numbers = [1,3,10]
result = []
# for num in numbers :
#     result.append(num**2)
result = [num**2 for num in numbers]
result

[1, 9, 100]

In [55]:
# 과일의 글자가 5글자 이상인 과일 추출하세요
fruits = ['orange','apple','mango','kiwi']
# for fruit in fruits:
#     if len(fruit)>=5 :
#         print(fruit)
[fruit for fruit in fruits if len(fruit)>=5]

['orange', 'apple', 'mango']

In [57]:
# 과일의 글자가 5글자 이상인 과일의 글자수를 출력하세요
[len(fruit) for fruit in fruits if len(fruit)>=5]

[6, 5, 5]

## 1.6 삭제하기
- remove(data) : 해당 data가 제거
- del 리스트변수[idx] : idx번째 요소 제거
- pop() : 가장 마지막 인덱스 요소가 return 되고 삭제

In [60]:
numbers = [1,2,3,4]
print(numbers.pop())
print(numbers)

4
[1, 2, 3]

In [62]:
numbers.remove(1)
numbers

[2, 3]

In [63]:
# numbers.remove(9) => 없는 데이터 remove시 에러

In [64]:
del numbers[0]
print(numbers)

[3]

In [65]:
del numbers #변수 자체를 없앰

## 1.7 정렬하기

In [67]:
numbers = [9,10,1,5,5]
numbers.sort() #오름차순 정렬
print(numbers)
numbers.sort(reverse=True) #내림차순 정렬
print(numbers)

[1, 5, 5, 9, 10]
[10, 9, 5, 5, 1]

## 1.8 리스트 복제

In [68]:
numbers = [6,1,2]
new_numbers = numbers; #얕은 복사
numbers.sort()
print("정렬전 데이터 :" , new_numbers)  #같은 주소를 가진것이므로 똑같다
print("정렬후 데이터 :" , numbers)

정렬전 데이터 : [1, 2, 6]
정렬후 데이터 : [1, 2, 6]

In [70]:
numbers = [6,1,2]
new_numbers = numbers.copy() #깊은 복사
numbers.sort()
print("정렬전 데이터 :" , new_numbers)  
print("정렬후 데이터 :" , numbers)

정렬전 데이터 : [6, 1, 2]
정렬후 데이터 : [1, 2, 6]

# 2절. 튜플
- 리스트와 유사하지만 읽기전용
- () 이용해서 생성

In [71]:
city = ('서울',"부산",'광주','대전')
print(type(city))
print(city)

<class 'tuple'>
('서울', '부산', '광주', '대전')

In [72]:
'~'.join(city)

'서울~부산~광주~대전'

In [73]:
list_=['서울']
type(list_)

list

In [74]:
t = ('서울')
type(t)

str

In [76]:
t = ('서울',) #요소가 하나은 튜플은 뒤에 컴파(,)필수
type(t)

tuple

# 3절. 딕셔너리
- 구조체와 유사
- {}를 이용해서 생성. key-value 쌍으로
- value는 중복 가능하나 key는 중복 불가
- index를 이용한 참조 불가

In [79]:
dic = {'name' : '홍길동', 'address' : '서울시 금천구'}
print(type(dic))
print(dic)

<class 'dict'>
{'name': '홍길동', 'address': '서울시 금천구'}

In [80]:
dic['name'],dic['address']

('홍길동', '서울시 금천구')

In [81]:
# dic['score'] => 없으니까 에러

In [82]:
dic.get('name'),dic.get('address'),dic.get('score')

('홍길동', '서울시 금천구', None)

In [84]:
# 수정
dic['score'] = 100
dic['sport'] = 'sleep'
print(dic)

{'name': '홍길동', 'address': '서울시 금천구', 'score': 100, 'sport': 'sleep'}

In [86]:
#제거
dic.pop('sport')

'sleep'

In [87]:
dic

{'name': '홍길동', 'address': '서울시 금천구', 'score': 100}

In [88]:
for data in dic :  
    print(data) #key 값이 도룰,value (x)

name
address
score

In [91]:
#리스트 방식(튜플 셋)과 다름
for idx,value in enumerate(dic) :
    print(idx,value)

0 name
1 address
2 score

In [92]:
dic.keys()

dict_keys(['name', 'address', 'score'])

In [93]:
dic.values()

dict_values(['홍길동', '서울시 금천구', 100])

In [94]:
dic.items()

dict_items([('name', '홍길동'), ('address', '서울시 금천구'), ('score', 100)])

In [95]:
for data in dic.values():
    print(data)

홍길동
서울시 금천구
100

In [98]:
for key,value in dic.items() :
    print("{} : {}".format(key,value))

name : 홍길동
address : 서울시 금천구
score : 100

In [100]:
l = ['a','b','c']
'c' in l

True

In [101]:
dic = {'name' : '홍길동', 'address' : '서울시 금천구'}
'name' in dic

True

In [102]:
'홍길동' in dic

False

In [103]:
len(dic) #데이터 개수

2

# 4절. 셋
- 중복을 허용하지 않는 집합(순서X= 인덱스X)

In [104]:
fruits = ['apple','orange','banana','banana']
fruits

['apple', 'orange', 'banana', 'banana']

In [107]:
fruits = {'apple','orange','banana','banana','0','0'} #중복안됨
print(fruits)
print(type(fruits))

{'orange', 'apple', '0', 'banana'}
<class 'set'>

In [108]:
fruits.add('kiwi')
print(fruits)

{'apple', 'kiwi', 'banana', 'orange', '0'}

In [109]:
fruits.add('banana')
print(fruits)

{'apple', 'kiwi', 'banana', 'orange', '0'}

In [110]:
for i,value in enumerate(fruits) :
    print("{}:{}".format(i,value))

0:apple
1:kiwi
2:banana
3:orange
4:0

In [112]:
for data in fruits :
    print(data)

apple
kiwi
banana
orange
0

# 5절. 연습문제

In [116]:
numbers = [1,2,3,4,5,6,7,8,9,10]

In [117]:
# 1. 숫자 100을 맨 뒤에 추가하세요
numbers.append(100)
print(numbers)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 100]

In [118]:
# 2. 다음 리스트를 numbers리스트 맨 뒤에 추가하세요
data = [200,300,400,500]
numbers.append(data)
print(numbers)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 100, [200, 300, 400, 500]]

In [120]:
# 3. 처음 다섯 개 숫자만 출력하세요
print(numbers[0:5:])

[1, 2, 3, 4, 5]

In [121]:
# 4. 리스트에서 짝수 번째 데이터만 출력하세요
print(numbers[::2])

[1, 3, 5, 7, 9, 100]

In [122]:
# 5. 짝수번째 데이터를 모두 0으로 바꾸세요
for idx,num in enumerate(numbers):
    if(idx%2 == 0) :
        numbers[idx] = 0;
print(numbers)

[0, 2, 0, 4, 0, 6, 0, 8, 0, 10, 0, [200, 300, 400, 500]]

In [125]:
# 6. 데이터를 역순으로 나열하세요(내림차순 정렬이 아닙니다)
print(numbers[-1::-1])

[[200, 300, 400, 500], 0, 10, 0, 8, 0, 6, 0, 4, 0, 2, 0]

In [126]:
#  다음 딕셔너리 데이터가 주어졌을 경우 요구사항대로 코드를 작성하세요.
member = {'name':"홍길동","age":20,"address":"서울시 금천구", 'score':90}

In [127]:
# 7. address값을 출력하세요
print(member.get('address'))

서울시 금천구

In [128]:
# 8. score 를 출력하고 member 딕셔너리에서 삭제하세요.
print(member.pop('score'))
print(member)

90
{'name': '홍길동', 'age': 20, 'address': '서울시 금천구'}

In [129]:
# 9. address를 '서울시 서대문구'로 변경하세요.
member['address'] = '서울시 서대문구'
print(member.get('address'))

서울시 서대문구

In [133]:
# 10. member 딕셔너리 데이터의 값을 리스트로 출력하세요
print(list(member.values()))
print(type(list(member.values())))

['홍길동', 20, '서울시 서대문구']
<class 'list'>