<font size ='8' color="red"> <b>ch05 함수</b></font>
- 반복해서 사용할 코드를 묵어서 구현해 놓은 것
- 같은 이름의 함수는 덮어씀(오버로딩 불가)
- 함수 정의(구현)
  ```
  def 함수명([인수1,인수2,...]):
     명령어1
     명령어2
     ...
  ```

# 1절. 함수의 정의 및 사용(호출)

## 1.1 함수정의

In [ ]:
def my_hello(x,msg) : #함수정의
    for i in range(x) :
        print(i,msg)

In [ ]:
my_hello(2,'hi')

In [ ]:
type(my_hello) #파이썬에서 함수는 변수다

In [ ]:
def my_hello(x) : #함수정의
    for i in range(x) :
        print(i,"함수는 복습 필수")

In [ ]:
my_hello(3)

In [ ]:
def my_add(num1,num2,num3=0) : #num3은 기본값을 갖는 인수
    return num1 + num2 + num3
print(my_add(1,2,3))

In [ ]:
# def my_add(num1,num2=0,num3) : 
#     기본값을 갖는 인수는 순서인수 뒤에
#     return num1 + num2 + num3
# print(my_add(1,2))

## 1.2 docstring
- 함수 도움말 (shift+tab)

In [ ]:
def fibonacci (n):
    """
    매개변수로 들어온 n값 미만의 피보나치 수열을 출력하는 함수
    ex. 인수로 10 : 0, 1, 1, 2, 3, 5, 8
    """
    a,b = 0,1
    while a<n :
        print(a,end=". ")
        a,b = b,a+b
    print() # 개행

In [ ]:
fibonacci(100)

In [ ]:
type(fibonacci)

In [ ]:
fibonacci #변수니까 출력도

In [ ]:
__name__

In [ ]:
if __name__ == '__main__' :
    fibonacci(100)

In [ ]:
if __name__ == '__main__' :
    fibonacci(100)

In [ ]:
import fibo#노트북과 같은 폴더에 fibonacci.py가 해석되어 메모리 로드

In [ ]:
fibonacci.fibonacci(100)

## 1.3 지역변수(local var)와 전역변수(bal var)

In [ ]:
global_var = 100 #전역변수
def func1():
    print(global_var)
func1()
print(global_var)

In [ ]:
def func2() :
    local_var = 100 #지역변수 : 함수내에서만 사용 가능한 변수.
    print(local_var)
func2()

In [ ]:
# local_var 탐색 불가

In [ ]:
g_var = 100 # 전역변수
def func3() :
    g_var = 200  #지역변수 로 생각 즉 지역변수 선언
    print(g_var)
func3()
g_var

## 1.4 Lexical 특성

In [ ]:
# g_var = 100 # 전역변수
# def func3() :
#     print(g_var) #아직 변수 할당 되지않았다고 봄
#     g_var = 200  
#     print(g_var)
# func3()
# g_var

## 1.5 전역변수 수정

In [1]:
g_var = 100 # 전역변수
def func3() :
    global g_var #함수내에서 g_var는 전역변수를 쓸거야
    print(g_var) 
    g_var = 200  #전역변수에 값을 할당
    print(g_var)
func3()
g_var

100
200

200

## 1.6 값에 의한 호출 (call by value)
- 함수에 인수로 전달되는 변수가 스칼라 변수(숫자,문자,논리)일 경우

In [ ]:
foo = 'ab' #스칼라 변수
id(foo)

In [ ]:
def func1 (f) :
    print("Before : {}의 주소는 {}".format(f,id(f)))
    f *= 3  #매개변수로 들어온 변수 => 지역변수 #값을 바꾼다 => 바꾸고 새로운 주소 할당
    print("After : {}의 주소는 {}".format(f,id(f)))

func1(foo)
print("함수 호출 후 foo : {}의 주소는 {}".format(foo,id(foo)))

## 1.7 참조에 의한 호출 (call by reference)
- 함수에 전달되는 인수가 리스트, 딕셔너리 , 셋일 경우

In [ ]:
L = [1,2,3]
print("L의 내용은 {}, 주소는 {}".format(L,id(L) ) )

In [ ]:
def func2(f) :
    print("함수 내 Before : L의 내용은 {}, 주소는 {}".format(L,id(L) ) )
    f.append(4)
    print("함수 내 After : L의 내용은 {}, 주소는 {}".format(L,id(L) ) )

func2(L)
print("L의 내용은 {}, 주소는 {}".format(L,id(L) ) )

# 2절. 함수의 실행결과를 반환하는 return
- 여러 개의 값을 반환할 수 있다.(하나의 튜플로 반환)

In [ ]:
# 여러값을 return
def swap(a,b) : 
    return b,a

In [ ]:
x,y = 5,10
print("함수 실행 전 x={} , y={}".format(x,y))
x,y = swap(5,10)
print("함수 실행 후 x={} , y={}".format(x,y))

# 3절. 함수의 매개변수 ★

## 3.1 기본값을 갖는 매개변수

In [ ]:
def make_url(ip,port=80) :
    # 순서인수, 기본값을 갖는 인수 순으로
    return "http://{}:{}".format(ip,port)

In [ ]:
print(make_url("localhost"))
print(make_url("localhost",8090))
print(make_url(port=8090,ip='localhost'))

## 3.2 튜플 매개변수로 이용한 가변인수(인수갯수가 가변) 설정

In [ ]:
print('Hello','World') #인수의 갯수가 가변 = 가변인수

In [ ]:
# args앞에 * : args가 튜플로 전달 :튜플 매개변수
def add(*args):
    # print("전달받은 args :",args)
    # print(type(args))
    sum = 0
    for num in args:
        sum += num;
    return sum

In [ ]:
print(add(1,2,3))
print(add( 1))
print(add(1,2))

In [ ]:
def concat(*args,sep) :
    return sep.join(args)

In [ ]:
# concat("C","Python","Oracle","~") =>오류 sep과 args를 구분x

In [ ]:
#해결책 1
concat("C","Python","Oracle",sep="~")

In [ ]:
#해결책 2 ☆
def concat (sep, *args) : #순서인수 > 튜플인수
    return sep.join(args)

In [ ]:
concat("~","C","Python","Oracle")

In [ ]:
# 해결책 3
def concat(*args,sep='/') : #순서인수 > 튜플인수 > 키워드인수(기본값을 갖는 매개 변수)
    return sep.join(args)

In [ ]:
concat("C","Python","Oracle",sep="~")

## 3.3 딕셔너리 매개변수

In [ ]:
def func(**args) : # args 가 딕셔너리로 전달
    # print(args)
    # print(type(args))
    for key,value in args.items():
        print("{} : {}".format(key,value))

In [ ]:
dic = {"name":"홍길동","age":20}
#func(dic)
func(name="홍길동",age=20) #키워드 인수 같기도하네

In [ ]:
func(gameName="서바이벌",year =2024 , price = 33000)

## 3.4 함수 정의시 매개변수의 순서
- 순서인수 > 튜플인수(*) > 키워드인수(매개변수 이름을 명시) > 딕셔너리인수(**)

In [ ]:
def func(a,b,c,*d,e=10,**f) :
    print('a =' , a)
    print('b =' , b)
    print('c =' , c)
    print('d =' , d)
    print('e =' , e)
    print('f =' , f)

In [ ]:
func(10,20,30, 1,2,3,4,5 , e=50 ,height=180 , name="홍길동",address="서울시")

## 3.5 인수의 언패킹

### 튜플 인수 언패킹

In [2]:
def add(*args):
    # print("전달받은 args :",args)
    # print(type(args))
    sum = 0
    for num in args:
        sum += num;
    return sum

In [3]:
data = (1,2,3)
add(*data) #(튜플(튜플))  => 튜블 변수 언패킹

6

### 딕셔너리 인수 언패킹

In [11]:
def func(**args) : # args 가 딕셔너리로 전달
    # print(args)
    # print(type(args))
    for key,value in args.items():
        print("{} : {}".format(key,value))

In [ ]:
dic = {"name":"홍길동","age":30}
#func(name="홍길동",age=30)
func(**dic)

# 4절. 람다식
- 람다식은 작은 익명함수를 의미함
- 실행할 문장을 한문장만 작성할 수 있음
- 리스트 컴프리헨션과 같이 참조해서 학습 추천
- ex. map() , filter() 에서 사용할 예정

In [ ]:
# 일반함수
def add(a,b) :
    return a+b
add(3,5)

In [ ]:
type(add)

In [ ]:
# 람다식
add = lambda a,b : a+b  #lambda 매개변수 : 리턴값

In [ ]:
add(5,5)

In [ ]:
type(add)

In [ ]:
(lambda a,b: a+b)(5,6)

## 매개변수로 람다식 이용

In [6]:
f = lambda x : x**2
f(3)

9

In [4]:
def map_template(func,L=[]) :
    result = []
    for data in L :
        result.append(func(data))
    return result

In [8]:
list_data = [1,2,3,4,5]
#map_template(f,list_data)
map_template(lambda x : x**2 , list_data)

[1, 4, 9, 16, 25]

In [ ]:
list(map(lambda x:x*2,list_data))

In [ ]:
#리스트 컴프리헨션이용
[x*2 for x in list_data]

In [ ]:
def filter_template(func,L=[]) :
    result = []
    for data in L :
        if func(data):
            result.append(data)
    return result

In [ ]:
filter_template(lambda x : x%2==0 , list_data)

In [ ]:
list(filter(lambda x: x%2==0,list_data))

In [ ]:
#리스트 컴프리헨션 이용
[x for x in list_data if x%2==0]

# 5절. 파이썬 내장함수
- print처럼 import하지 않고 즉시 사용 가능한 함수

# 연습문제

In [ ]:
# 1. 함수의 인자로 리스트를 받은 후, 리스트 내에 있는 모든 정수값에 대하여 최대값과 최소값을 return하는 함수 get_max_min(data_list)를 구현하고 호출하시오
def get_max_min(L=[]) :
    return max(L),min(L)

list = [1,39,310,3410,39490,-1]
get_max_min(list)

In [10]:
# 2. 1~45사이의 로또번호 6개를 반환하는 make_lotto()함수를 정의하고 호출하시오
import random

def make_lotto() :
    lotto = set()
    while len(lotto)<6 :
        lottonum = random.randint(1,45)
        lotto.add(lottonum)
    lotto = list(lotto)
    lotto.sort()
    return lotto

print(make_lotto())

[11, 20, 26, 32, 39, 40]

In [ ]:
"""
3. 369게임은 숫자에 3,6,9가 들어가면 박수를 치고, 나머지는 숫자는 그대로
이야기하는 게임이다. 369게임을 시뮬레이션하는 함수를 정의하라
1단계 : game_369([1,2,3,4,5,6,7,8,9,13,20,33])
- 결과 : [1,2, ‘짝’, 4,5, ‘짝’,7,8, ‘짝’, ‘짝’, 20,‘짝짝’]
2단계 : game_369(1,2,3,4,5,6,7,8,9,13,20,33) #튜플인수이용
- 결과 : [1,2, ‘짝’, 4,5, ‘짝’,7,8, ‘짝’, ‘짝’, 20,‘짝짝’]
"""

In [9]:
# 1단계
def game_369(L=[]) :
    result = []
    for num in L :
        count = str(num).count('3') + str(num).count('6') + str(num).count('9')
        if(count == 0 ) :
            result.append(num)
        else :
            result.append('짝' *  count)
    return result

print(game_369([1,2,3,4,5,6,7,8,9,13,20,33]))

[1, 2, '짝', 4, 5, '짝', 7, 8, '짝', '짝', 20, '짝짝']

In [8]:
# 2단계
def game_369 (*args) :
    result = []
    for num in args :
        count = str(num).count('3') + str(num).count('6') + str(num).count('9')
        if(count == 0 ) :
            result.append(num)
        else :
            result.append('짝' * count)
    return result

print(game_369(1,2,3,4,5,6,7,8,9,13,20,33))

[1, 2, '짝', 4, 5, '짝', 7, 8, '짝', '짝', 20, '짝짝']