<font size ="8" color = "red"><b>ch9 파일입출력</b>

# 1절 파일에 데이터를 저장하고 불러오기

In [2]:
# w : 있는 파일은 기존의 파일에 덮어쓰고 없는 파일은 생성 (쓰기 전용)
# a : 있는 파일은 추가 / 없는 파일은 생성
f = open('data/ch09.txt' , 'w' )
print(f.writable())

True

In [3]:
f.write("Hello\nWorld\nHello\nPython\n반갑습니다") #한글은 cp949
f.close()

In [4]:
f.write('여러번 wirte가능\n')
f.close()

ValueError: I/O operation on closed file.

In [6]:
with open('data/ch09.txt','r') as f:
    data = f.readlines()
    print(data)

['Hello\n', 'World\n', 'Hello\n', 'Python\n', '반갑습니다']

In [7]:
with open('data/ch09.txt','w') as f:
    print('Python is easy\n',file=f)

In [8]:
with open('data/ch09.txt','a') as f:
    print('Python is easy\n',file=f)

In [11]:
# UTF-8로 인코딩 된 CSV파일을 read
with open('data/ch09_member1.csv','r',encoding='utf-8') as f :
    data = f.readlines()
    for row in data :
        print(row)

홍길동,20,hong@hong.com,서울시 강동구

박길서,33,park@hong.com,서울시 강서구

신진서,25,shin@hong.com,서울시 강서구

정하영,30,hayoung@hong.com,서울시 강남구

이동재,29,lee@hong.com,서울시 강북구

마이클,40,mike@hong.com,서울시 강동구

In [18]:
import pandas as pd
member1 = pd.read_csv('data/ch09_member1.csv',header=None)
member1.columns = ['name','age','email','address']
member1

  name  age             email  address
0  홍길동   20     hong@hong.com  서울시 강동구
1  박길서   33     park@hong.com  서울시 강서구
2  신진서   25     shin@hong.com  서울시 강서구
3  정하영   30  hayoung@hong.com  서울시 강남구
4  이동재   29      lee@hong.com  서울시 강북구
5  마이클   40     mike@hong.com  서울시 강동구

In [16]:
type(member1)

pandas.core.frame.DataFrame

In [17]:
memeber2 = pd.read_csv('data/ch09_member2.csv',nrows=3)
memeber2

  name  age          email  address
0  홍길동   20  hong@hong.com  서울시 강동구
1  박길서   33  park@hong.com  서울시 강서구
2  신진서   25  shin@hong.com  서울시 강서구

In [20]:
member = pd.concat([member1,memeber2]) #행병합
member

  name  age             email  address
0  홍길동   20     hong@hong.com  서울시 강동구
1  박길서   33     park@hong.com  서울시 강서구
2  신진서   25     shin@hong.com  서울시 강서구
3  정하영   30  hayoung@hong.com  서울시 강남구
4  이동재   29      lee@hong.com  서울시 강북구
5  마이클   40     mike@hong.com  서울시 강동구
0  홍길동   20     hong@hong.com  서울시 강동구
1  박길서   33     park@hong.com  서울시 강서구
2  신진서   25     shin@hong.com  서울시 강서구

In [21]:
member.to_csv('data/member.csv',index=False)